body, html {
    margin: unset;
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
}

/* Main content */

.main-content {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Book Table */

.table-wrapper {
    margin: unset !important;
}

.table-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#book-table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 5%;
}

#book-table caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

#book-table thead,
#book-table tfoot {
    background-color: rgb(228 240 245);
}

#book-table th,
#book-table td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

#book-table td:last-of-type,
#book-table td:nth-last-child(2) {
    text-align: center;
}

#book-table tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

#book-table tfoot th {
    text-align: right;
}

#book-table tfoot td {
    font-weight: bold;
}

#book-table .table-wrapper {
    margin: auto auto;
}

#book-table tbody td:nth-child(2) {
    max-width: 150px;
    overflow-wrap: break-word;
}

#book-table tbody td:nth-child(6) button {
    margin: 5px;
}

/* New Book Dialog*/

#new-book-dialog {
    position: relative;
    border: 1px solid;
    min-width: 400px;
}

#add-new-book-form {
    padding: 10px 20px;
}

#add-new-book-form .form-title {
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;
}

#add-new-book-form input {
    width: 100%;
}

#add-new-book-form .read-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 5%;
}

#add-new-book-form .read-status .radio-btn-container input,
#add-new-book-form #close-btn {
    width: unset;
}

#add-new-book-form .submit-btn-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#add-new-book-form .submit-btn-container button {
    width: 30%;
}

#add-new-book-form #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0px;
    cursor: pointer;
    font-size: larger;
}