/* Table */

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type,
td:nth-last-child(2) {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

/* Add new book form */

#add-new-book-form {
    max-width: 40%;
    margin: 30px auto;
}

#add-new-book-form fieldset {
    padding: 30px;
}

#add-new-book-form input,
#add-new-book-form textarea,
#add-new-book-form button {
    width: 100%;
}

#add-new-book-form .read-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 5%;
}

#add-new-book-form .read-status .radio-btn-container input {
    width: unset;
}

#add-new-book-form .btn-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#add-new-book-form .btn-container button {
    width: 20%;
}